@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("backgound.jpg") no-repeat center center fixed;
  background-size: cover;
}

.background-container {
  background: rgba(255, 255, 255, 0.6); /* 흰 배경과 약간의 투명도 */
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
}

.add-article-button {
  position: absolute;
  top: 58px;
  right: 38px;
  background-color: #da4f36;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열로 변경 */
  gap: 20px;
}

.article-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
  cursor: pointer;
}

.article-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.article-card h2 {
  font-size: 1.2em;
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-card p {
  font-size: 0.9em;
  margin: 0 15px 15px;
  color: #555;
}

.article-card:hover {
  transform: translateY(-5px);
}

.article-card .delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #da4f36;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.article-card .delete-btn i {
  font-size: 24px; /* 아이콘 크기 설정 */
}

.article-card:hover .delete-btn {
  display: block;
}

/* 모달 스타일 수정 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f9f4ec;
  border: 2px solid #d1d1d1;
  margin: 10% auto;
  padding: 0;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-header {
  background-color: #f7b260;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header span {
  font-weight: bold;
  font-size: 1.2em;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  flex: 1;
}

.modal-body .input-box {
  margin-bottom: 15px;
}

.modal-body .input-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-body .input-box input,
.modal-body .input-box textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.modal-footer {
  background-color: #f7b260;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.modal-footer .upload-label {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: auto;
}

.modal-footer .btn {
  background-color: #f7b260;
  border: none;
  color: white;
  padding: 5px 5px;
  border-radius: 25px;
  cursor: pointer;
}

/* 로그아웃 버튼 스타일 */
.logout-button {
  background: none;
  border: none;
  color: #da4f36;
  font-size: 2.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 54px;
  left: 95px;
}

.logout-button i {
  margin-right: 5px;
}

.main-container {
  text-align: center;
}

.user-profile {
  display: inline-block;
  position: absolute;
  top: 53px;
  left: 40px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.logout-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
