@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("backgound.jpg") no-repeat center center;
  background-size: cover;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* 모달 스타일 추가 */
.modal-content .modal-image {
  width: 120px; /* 크기를 설정 */
  height: auto; /* 비율을 유지 */
  margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격 */
}

/* 기존 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px; /* 여기서 너비를 410px로 줄였습니다 */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px); /* .wrapper의 backdrop-filter와 일치 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* .wrapper의 box-shadow와 일치 */
  border: 2px solid rgba(255, 255, 255, 0.2); /* .wrapper의 border와 일치 */
  border-radius: 10px; /* .wrapper의 border-radius와 일치 */
}

.modal-content {
  background-color: transparent; /* .wrapper의 배경과 일치 */
  margin: auto;
  padding: 30px 40px; /* .wrapper의 padding과 일치 */
  color: #fff; /* .wrapper의 텍스트 색상과 일치 */
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content .btn {
  width: 100px;
  height: 35px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 20px auto 0;
}

.modal-content .btn:hover {
  background: #6b6b6b;
}
